//colors
$color-red: rgb(255, 122, 122);
$color-green: rgb(56, 204, 140);
$color-white: #fff;
$color-dark-blue: rgb(62, 60, 73);
$color-grey-blue: rgb(185, 182, 211);
$color-purple: rgb(126, 109, 204);

//media queries
$bp-large: 90em; //1440px
$bp-small: 23.44em; //375px
