.form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__info {
    width: 100%;
    padding: 1.5rem 1rem;
    border-radius: 5px;
    border: 1px solid $color-grey-blue;
    margin: 1rem 0;
  }
  &__btn {
  }
}

.form-container {
  border-radius: 5px;
  background-color: $color-white;
  padding: 2rem;
  margin-top: 2rem;

}
