.form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;

  &__info {
    width: 100%;
    padding: 1.5rem 1rem;
    border-radius: 5px;
    border: 1px solid $color-grey-blue;
    margin: 1rem 0;
    text-indent: 2rem;
    &:focus {
      outline: none;
    }
  }
  &__btn {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: $color-white;
    border: none;
    border-radius: 5px;
    background-color: $color-green;
    padding: 2rem 2rem;
    cursor: pointer;
    box-shadow: 0px 4px 0px 0px rgba(73, 148, 115, 0.74);
    margin: 1rem 0 1.2rem;

    &:focus {
      transform: translateY(5px);
      outline: none;
      box-shadow: none;
    }
  }
  &__terms {
    color: $color-grey-blue;
    padding: 1rem 3.5rem;

    &--services {
      color: $color-red;
    }
  }
}

.form-container {
  border-radius: 5px;
  background-color: $color-white;
  padding: 2rem;
  margin-top: 2rem;
  box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.15);
}
